<div class="container">
  <div class="row">

    <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
              Username: <%= @user.name %></BR>
              Email: <%= @user.email %>
          </div>
      </div>
    </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>RESERVATIONS</h1>
        <% @user.reservations.order(created_at: :desc).each do |x|  %>
          <ul>
            <li>Restaurant name: <%= x.restaurant.name %></li>
                Booking : <%= x.formatted_time %></br>
                Party Size: <%= x.party_size %></br>
          </ul>
        <% end %>
      </div>
  </div>
</div>


<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1> <%= pluralize(@user.reviews.count ,'review') %> from <%= @user.name %> </h1>
        <% @user.reviews.order(created_at: :desc).each do |review| %>
        <ul>
          <li><em>Review for restaurant: </em><%= review.restaurant.name %></li>
          <em>Review comment: </em> <%= review.comment %></br>
          <%= link_to 'edit comment', edit_restaurant_review_path(review.restaurant_id, review.id) %></br>
          <%= link_to 'delete comment', restaurant_review_url( review.restaurant_id, review.id ) , method: :delete, data:{confirm:"are you sure you want to delete this review"} %>
        </ul>
        <% end %>
    </div>
</div>
</div>



  </div>
</div>
